.board {
    text-align: center;
    &__row {
        display: flex;
        width: 100%;
        justify-content: center;
        &__tile {
            min-width: 37px;
            min-height: 37px;
            max-width: 37px;
            max-height: 37px;
        }
    }
}