.board {
    display: inline;
    height: fit-content;
    width: fit-content;
    &__row {
        display: flex;
        justify-content: center;
        height: fit-content;
        width: fit-content;
        &__tile {
            min-width: 37px;
            min-height: 37px;
            max-width: 37px;
            max-height: 37px;
            
        }
    }
}